asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.4
django-appconf==1.0.6
django-compressor==4.5.1
django-environ==0.11.2
gunicorn==23.0.0
packaging==24.2
pillow==11.0.0
psycopg2-binary==2.9.10
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.2
typing_extensions==4.12.2
whitenoise==6.8.2
